@font-face {
  font-family: 'PixelifySans';
  src: url('./Asset/PixelifySans-Regular.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    background: black;
}

button {
  position: absolute;
  top: 5px;          
  left: 5px;         
  z-index: 10;    
  color: #fff;
  background-color: #db8040;
  padding: 10px 30px 10px 30px;
  margin: 10px;
  font-size: 12px;
  font-family: "Press Start 2P", system-ui;
  border: 0;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
  cursor: pointer;
}
 button:active {
  transform: translateY(5px);
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
}

/*Skor */
.score-display {
  position: fixed;
  top: 40px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  z-index: 999;
  font-family: 'PixelifySans', sans-serif;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
